.projectRow {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.projectRowDiv {
  display: flex;
  flex: 1;
}

.screenshot { 
  display: flex;
  flex: 1;
  width: 100px;
  padding: 5px;
}

.screenshotText {
  display: flex;
  flex: 1;
  padding: 0 10px;
}