ul.topnav li a {
  display: inline-block;
  color: $primary-text-color;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: 0.3s;
  margin-top: -5px;

  &:hover {
    background-color: $secondary-color;
  }
}
