extends layout

block append css
	link(rel='stylesheet', type='text/css', href='/css/fastmoviephotos.css')
	link(rel='stylesheet', type='text/css', href='/css/projectlayout.css')

block content
	.row
		.col-md-12.text-center
			h1 Fast Movie Photos
	.row
		.col-md-2
			img.icon(src="/images/fmpicon.png")
		.col-md-10
			h3 This app was a contractor project through Blast Off Apps developed for
				| iOS using Xcode. Fast Movie Photos is a website online that the client makes photo movies for their clients and posts them
				| on the website. The purpose of the app is for the client to be able to access the videos online and adjust the playback speed
				| as the video is playing. The videos were accessed using a link directly to them with the media api provided by Apple.
	hr.seperator
		
	.content 
