extends layout

block append css
	link(rel='stylesheet', type='text/css', href='/css/franklinregional.css')

block content
	.row
		.col-md-12.text-center
			h1 Franklin Regional
	.row 
		.col-md-2
			img.icon(src="/images/fricon.png")
		.col-md-10
			h3 Created senior year of high school for Android using Eclipse. I developed this app to make it easier to view the Franklin
				|  Regional school district website and bypass their mobile version. Push notifications were also implemented using the Parse api
				| to alert users of delays and cancellations. This app uses a master detail view for a slide out menu and a webview to
				| display the different webpages.
	hr

	.content
		.row
			.col-md-2
				img.preview(src="/images/fr1.png")
			.col-md-3
				p This is the home page of the Franklin Regional website and the first page you are greeted with.
			.col-md-2
				//- PLACEHOLDER
			.col-md-3
				p The main menu slides out from the side by either a swipe geasture or by tappig the icon in the top left corner.
			.col-md-2
				img.preview(src="/images/fr2.png")
		br
		.row
			.col-md-2
				img.preview(src="/images/fr3.png")
			.col-md-3
				p These are other links that people might be interested in visiting.
			.col-md-2
				//- PLACEHOLDER
			.col-md-3
				p This is an example of the user navigating to the high school's webpage.
			.col-md-2
				img.preview(src="/images/fr4.png")
		br
		.row
			.col-md-2
				img.preview(src="/images/fr5.png")
			.col-md-3
				p This is an exmample of the user navigating to one of the elementary school's webpage.
			.col-md-2
				//- PLACEHOLDER
			.col-md-3
				p This is the settings page where the user has the option to view the webpage as a desktop or as a mobile view.
			.col-md-2
				img.preview(src="/images/fr6.png")
