extends layout

block content
	.row
		.col-md-12.text-center
			h1 Graph Game
	.row
		.col-md-3
			img.icon(src="/images/dicon.png")
		.col-md-8
			h3 This app was developed sophomore year in college for a Software Engineer class for
				| Android using Android Studio. I was the software lead on this project with
				| 5 other classmates working on this project. The goal of this app was a game
				| thought up by a math department teacher to move "pebbles" around a map that
				| was created using graph theory to the end node to win the game. The game was
				| developed to be a two player game but an AI element was developed in my free
				| time to create a single player mode.
	hr.seperator
		
	.container 	
