extends layout

block append css
	link(rel='stylesheet', type='text/css', href='/css/index.css')

block content
	.leftcontent
		h2= "Mackenzie Mittereder"
		h3= "Mobile App Developer"

block append footer
