extends layout

block append css
	link(rel='stylesheet', type='text/css', href='/css/index.css')

block content
	h2= "Index Page"
	button Test Me
	p.test Testing

block append footer
	script(src="scripts/test.js")
