doctype html

html
	head
		title= title
		block css
		link(rel='stylesheet', type='text/css', href='/css/layout.css')
	body
		img(src="/images/fixedlogo.png", class="logoimage")
		h1.logotext= "Mittereder Studios"

		ul.topnav
			li
				a(href="/") HOME
			li.projects
				a(href="/projects") PROJECTS
			li
				a(href="/about") ABOUT
			li
				a(href="/resume") RESUME
			li
				a(href="/contact") CONTACT

		block content
	footer
		block footer
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js")
		hr
		ul.footer
			li
				a(href="https://www.youtube.com/channel/UCy0ozufXIKAtjRsTxD9VZNA") youtube
			li
				a(href="https://github.com/macmittereder") github
			li
				a(href="https://www.facebook.com/mac.mittereder") facebook
		p= "Created by Mackenzie Mittereder"
		address= "Copyright 2017 All Rights Reserved www.mittereder.com"
