doctype html

html
	head
		title= title
		block css
			link(rel='stylesheet', type='text/css', href='/css/main.css')
				
	body
		//- Navigation Bar
		a(href="/")
			img(src="/images/icons/fixedlogo.png", class="logoimage")

		ul.topnav
			li
				a(href="/resume") RESUME
			li
				a(href="/projects") PROJECTS
			li
				a(href="/") HOME

		block content
			
			
	footer
		block footer
			script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js")
			script(src="/js/bootstrap/bootstrap.min.js")
			
		hr
		address= "Copyright 2017 All Rights Reserved www.mittereder.com"
