html
	head
		title= title
		link(rel='stylesheet', type='text/css', href='/css/main.css')
	body
		h1= "Mittereder Studios"
		ul.topnav
			li 
				a(href="/") HOME
			li
				a(href="projects") PROJECTS
			li
				a(href="about") ABOUT
			li 
				a(href="resume") RESUME
			li 
				a(href="contact") CONTACT
				
		block content
			