extends layout

block content
	.row
		.col-md-12.text-center
			h1 Life Counter
	.row 
		.col-md-3
			img.icon(src="/images/lcicon.png")
		.col-md-8
			h3 Created freshman year of college for Android using Android Studio. The idea of this app came from plyaing the card game
				| Magic the Gathering with friends and either moving our life counter dice or not having the correct token cards when playing.
				| This app is a solution to these problems by keeping track of life points and token cards for each player. Another feature
				| of the app is the customability of screen orientation. The screen can either be portrait facing one player or the one side can
				| be flipped so both players can adjust thier own life points and tokens. The feature that makes this app unique is the ability
				| to save game and view how each player lost life pionts. THis was achieved by creating a text file and writing output to it when
				| the points were changed. When the game is reviewed the points are clumped together based on player, if points were lost or gained
				| and when it happened.
	hr.seperator
		
	.container
		.row
			.col-md-2
				img.preview(src="/images/lc1.png")
			.col-md-3
				p This is the main display for the app. The life counter is located in the middle of the screen with a display
					| and an 'Add Token' button for each player.
			.col-md-2
			.col-md-3
				p Names can easily be customized for each player by tapping on the name.
			.col-md-2
				img.preview(src="/images/lc2.png")
		br
		.row
			.col-md-2
				img.preview(src="/images/lc3.png")
			.col-md-3
				p Using the up and down arrows above and below the life counter will change the counter.
			.col-md-2
			.col-md-3
				p Tapping on the 'Add Token' button will bring up an alert to allow the user to enter the power and toughness for the token. 
			.col-md-2
				img.preview(src="/images/lc5.png")
		br
		.row
			.col-md-2
				img.preview(src="/images/lc6.png")
			.col-md-3
				p When clicking the save button the token will appear on the players side that it was created on.
			.col-md-2
			.col-md-3
				p The top right menu presents the user with options that will help during the game such as rolling dice and flipping a coin.
			.col-md-2
				img.preview(src="/images/lc4.png")
		br
		.row
			.col-md-2
				img.preview(src="/images/lc8.png")
			.col-md-3
				p The screen can be flipped by pressing on rotate in the menu. This allows each player to adjust their own life counter.
			.col-md-2
			.col-md-3
				p When 'Review Game' is pressed this screen will appear showing the players how many lives have been gained or lost throughout the game.
			.col-md-2
				img.preview(src="/images/lc9.png")
