extends layout

block append css
  link(rel='stylesheet', type='text/css', href='/css/personalprojects.css')

block content
  h2= "This is the personal projects page"

  .card
    img(src="http://www.w3schools.com/howto/img_avatar.png")
    .container
      h4 John Doe
      p Architect and Engineer
