extends layout

block content
	.row
		.col-md-12.text-center
			h1 Pinball Price
	.row 
		.col-md-3
			img.icon(src="/images/ppicon.png")
		.col-md-8
			h3 This app was a contractor project through Blast Off Apps developed for Android with Android Studio and iOS with Xcode.
				| Pinballprice.com is the worlds largest selection of pinball machines to either buy or find more information on a specific one. The
				| app displays their website using a slide out menu for navigation and a webview. Their webpages were also modified for the app to
				| remove the navigation bar and padding from the side upon clients request.
	hr.seperator

	.container
