extends layout

block append css
	link(rel='stylesheet', type='text/css', href='/css/projects.css')

block content
	h2= "Projects"
	ul.projectnav
		li
			a(href="/projects/personalprojects") PERSOAL PROJECTS
		li
			a(href="/projects/contractorprojects") CONTRACTOR PROJECTS
		li
			a(href="/projects/inprogressprojects") INPROGRESS PROJECTS
