extends layout

block content
	h2= "Projects page"

	a(href="/projects/personalprojects") personal projects
	br
	a(href="/projects/contractorprojects") contractor projects
	br
	a(href="/projects/inprogressprojects") inprogress projects
