extends layout

block content
	.container
		.row
			.col-md-12
				h1.text-center Projects

		.row
			.col-md-3.col-xs-6
				.demo-card-image.mdl-card-mdl-shadow--2dp
					.mdl-card__title.mdl-card--expand
					.mdl-card__actions
						span.demo-card-image__filename Image.jpg
				//- a(href="/projects/gradez")
				//- 	.card
				//- 		img.card(src="/images/gz/gzicon.png")
				//- 		.container
				//- 			h4.black.underline Gradez
				//- 			p.black Capstone Project for graduating Saint Vincent College. Tracks grades for users using Firebase.
			.col-md-3.col-xs-6
				a(href="/projects/franklinregional")
					.card
						img.card(src="/images/fr/fricon.png")
						.container
							h4.black.underline Franklin Regional
							p.black Notifies users about delays and cancellations using push notifications from Parse.
			.col-md-3.col-xs-6
				a(href="/projects/lifecounter")
					.card
						img.card(src="/images/lc/lcicon.png")
						.container
							h4.black.underline Life Counter
							p.black A companion app to the card game Magic the Gathering.
			.col-md-3.col-xs-6
				a(href="/projects/frameit")
						.card
							img.card(src="/images/fi/fiicon.png")
							.container
								h4.black.underline FrameIt
								p.black Applies different borders to user's photos then can save the image and post it to Twitter or Facebook.                                                                                                                                                                                
		.row
			.col-md-3.col-xs-6
				a(href="/projects/fastmoviephotos")
					.card
						img.card(src="/images/fmp/fmpicon.png")
						.container
							h4.black.underline Fast Movie Photos
							p.black Retrieves the client’s videos from a Parse database and allows you play it at various speeds.
							br                                                                                                                                                                                      
			.col-md-3.col-xs-6
				a(href="/projects/graphgame")
					.card
						img.card(src="/images/icons/dicon.png")
						.container
							h4.black.underline Graph Game
							p.black Uses graph theory for the different layouts while two players try to move their pebbles to win.
							br                                                                                                                                                                                      
			.col-md-3.col-xs-6
				a(href="/projects/wordsandmusic")
					.card
						img.card(src="/images/wam/wamicon.png")
						.container
							h4.black.underline Words and Music
							p.black Displays their bookstore inventory using a Parse database and allows users to use PayPal to purchase books.
			.col-md-3.col-xs-6
				a(href="/projects/vehicleapp")
					.card
						img.card(src="/images/icons/dicon.png")
						.container
							h4.black.underline Vehicle App
							p.black Stores vehicle information for client using a Parse database so they can add vehicles and view them.
							br                                                                                                                                                                                      
		.row
			.col-md-3.col-xs-6
				//- TODO: Empty
			.col-md-3.col-xs-6
				a(href="/projects/rockpaperscissors")
					.card
						img.card(src="/images/rps/rpsicon.png")
						.container
							h4.black.underline Rock, Paper, Scissors
							p.black A simple rock, paper, scissors game.
			.col-md-3.col-xs-6
				a(href="/projects/pinballprice")
					.card
						img.card(src="/images/pp/ppicon.png")
						.container
							h4.black.underline Pinball Price
							p.black Webview app of PinballPrice.com
							br      
			.col-md-3.col-xs-6
				//- TODO: Empty
