extends layout 

block content
	.container
		.row
			.col-md-12
				h1.text-center Projects

		.row
			.col-md-3.col-xs-6
				a(href="/projects/gradez")
					.gz-card-image.mdl-card.mdl-shadow--2dp
						.mdl-card__title.mdl-card--expand
						.mdl-card__actions
							span.gz-card-image__filename Gradez
			.col-md-3.col-xs-6
				a(href="/projects/franklinregional")
					.fr-card-image.mdl-card.mdl-shadow--2dp
							.mdl-card__title.mdl-card--expand
							.mdl-card__actions
								span.fr-card-image__filename Franklin Regional
			.col-md-3.col-xs-6
				a(href="/projects/lifecounter")
					.lc-card-image.mdl-card.mdl-shadow--2dp
							.mdl-card__title.mdl-card--expand
							.mdl-card__actions
								span.lc-card-image__filename Life Counter
			.col-md-3.col-xs-6
				a(href="/projects/frameit")
					.fi-card-image.mdl-card.mdl-shadow--2dp
							.mdl-card__title.mdl-card--expand
							.mdl-card__actions
								span.fi-card-image__filename Frame It 
		br
		br
		.row
			.col-md-3.col-xs-6
				a(href="/projects/fastmoviephotos")
					.fmp-card-image.mdl-card.mdl-shadow--2dp
							.mdl-card__title.mdl-card--expand
							.mdl-card__actions
								span.fmp-card-image__filename Fast Move Photos                                                                                                                                                                                     
			.col-md-3.col-xs-6
				a(href="/projects/graphgame")
					.d-card-image.mdl-card.mdl-shadow--2dp
							.mdl-card__title.mdl-card--expand
							.mdl-card__actions
								span.d-card-image__filename Graph Game                                                                                                                                                                                     
			.col-md-3.col-xs-6
				a(href="/projects/wordsandmusic")
					.wam-card-image.mdl-card.mdl-shadow--2dp
							.mdl-card__title.mdl-card--expand
							.mdl-card__actions
								span.wam-card-image__filename Works and Music
			.col-md-3.col-xs-6
				a(href="/projects/vehicleapp")
					.d-card-image.mdl-card.mdl-shadow--2dp
							.mdl-card__title.mdl-card--expand
							.mdl-card__actions
								span.d-card-image__filename Vehicle App
		br
		br                                                                                                                                                                        
		.row
			.col-md-3.col-xs-6
				//- TODO: Empty
			.col-md-3.col-xs-6
				a(href="/projects/rockpaperscissors")
					.rps-card-image.mdl-card.mdl-shadow--2dp
							.mdl-card__title.mdl-card--expand
							.mdl-card__actions
								span.rps-card-image__filename Rock Paper Scissors 
			.col-md-3.col-xs-6
				a(href="/projects/pinballprice")
					.pp-card-image.mdl-card.mdl-shadow--2dp
							.mdl-card__title.mdl-card--expand
							.mdl-card__actions
								span.pp-card-image__filename Pinball Price  
			.col-md-3.col-xs-6
				//- TODO: Empty
