extends layout

block append css
	link(rel='stylesheet', type='text/css', href='/css/resume.css')

block content
	.content
		.row
			.col-md-12
				img.resume1.position-center(src="/images/resumepage1.png")
			.col-md-12
				img.resume2.position-center(src="/images/resumepage2.png")
