extends layout

block append css
	link(rel='stylesheet', type='text/css', href='/css/resume.css')

block content
	img.resume1.position-center(src="/images/resumepage1.png")
	br
	img.resume2.position-center(src="/images/resumepage2.png")
