extends layout

block content
	.content
		.row
			.col-md-12
				br
				img.resume(src="/images/resume/resumepage1.png")
			.col-md-12
				br
				br
				img.resume(src="/images/resume/resumepage2.png")
			.col-md-12
				br
				br
				img.resume(src="/images/resume/resumepage3.png")
