extends layout

block content
	.content
		.row
			.col-md-12
				img.resume1.position-center(src="/images/resume/resumepage1.png")
			.col-md-12
				img.resume2.position-center(src="/images/resume/resumepage2.png")
