extends layout

block content
	.row
		.col-md-12.text-center
			h1 Rock, Paper, Scissors
	.row
		.col-md-3
			img.icon(src="/images/rps/rpsicon.png")
		.col-md-8
			h3 This app was developed junior year of high school for Android using eclipse. The
				| idea of this app was a proof of concept to develop my first app and publish
				| it on the play store. During a java class we developed a rock, paper, scissors
				| game with command line style input so I ported it to be more interactive
				| in an app setting.
	hr
	.container
		.row
			.col-md-2
				img.preview(src="/images/rps/rps1.png")
			.col-md-3
				p This view is the main menu that you are greeted with when opening the app."
			.col-md-2
			.col-md-3
				p This is the single player view where you can make your selection off the bottom 3 choices."
			.col-md-2
				img.preview(src="/images/rps/rps2.png")
		br
		.row
			.col-md-2
				img.preview(src="/images/rps/rps6.png")
			.col-md-3
				p The player has made the choice of the scissors and the computer has chosen rock, so the person would lose in this case."
			.col-md-2
			.col-md-3
				p This time the player chose rock and the computer had chosen scissors so the person would win"
			.col-md-2
				img.preview(src="/images/rps/rps5.png")
		br
		.row
			.col-md-2
				img.preview(src="/images/rps/rps4.png")
			.col-md-3
				p This is the stats screen where all the stats are stored.
			.col-md-2
			.col-md-3
				p This view is the prefences menu where you can change the font in game. You have the option to keep track of your stats and you can also clear stats data.
			.col-md-2
				img.preview(src="/images/rps/rps3.png")
