extends layout

block append css
	link(rel='stylesheet', type='text/css', href='/css/frameit.css')

block content
	p.title= "Rock, Paper, Scissors"
	img.icon(src="/images/dicon.png")
	p.description
		empty This app was developed junior year of high school for Android using eclipse. The
		idea of this app was a proof of concept to develop my first app and publish
		it on the play store. During a java class we developed a rock, paper, scissors
		game with command line style input so I ported it to be more interactive
		in an app setting.
