extends layout
	
block content
	.row
		.col-md-12.text-center
			h1 Vehicle App
	.row 
		.col-md-3
			img.icon(src="/images/dicon.png")
		.col-md-8
			h3 This was a contractor project through Blast off apps developed for Android
				| using Android Studio and iOS using Xcode. The app developed to provide the client with a way
				| to store information about vehicles to a single database so it was accessable to anyone that is
				| using the app. This was achieved using the Parse api to retrieve data from the Parse database. 
	hr.seperator

	.container
