extends layout

block append css
	link(rel='stylesheet', type='text/css', href='/css/vehicleapp.css')

block content
	p.title= "Vehicle App"
	img.icon(src="/images/dicon.png")
	p.description
		empty This was a contractor project through Blast off apps developed for Android
		using Android Studio and iOS using Xcode. The app developed to provide the client with a way
		to store information about vehicles to a single database so it was accessable to anyone that is
		using the app. This was achieved using the Parse api to retrieve data from the Parse database. 
