extends layout

block append css
	link(rel='stylesheet', type='text/css', href='/css/wordsandmusic.css')
	link(rel='stylesheet', type='text/css', href='/css/projectlayout.css')

block content
	.row
		.col-md-12.text-center
			h1 Words and Music
	.row 
		.col-md-2
			img.icon(src="/images/wamicon.png")
		.col-md-10
			h3 This app was a contractor project through Blast Off Apps developed for iOS with Xcode. Words and Music is a book store in Wheeling,
				| West Virginia. I was responsible for porting the Android version to iOS. The final product of this app uses the Parse api to access
				| the Parse database where I stored their book collection. A Paypal api was also implemented so people have more options to pay when buying
				| a book from here.
	hr.seperator

	.content
	
