extends layout

block append css
	link(rel='stylesheet', type='text/css', href='/css/wordsandmusic.css')

block content
	p.title= "Words and Music"
	img.icon(src="/images/wamicon.png")
	p.description
		empty This app was a contractor project through Blast Off Apps developed for iOS with Xcode. Words and Music is a book store in Wheeling,
		West Virginia. I was responsible for porting the Android version to iOS. The final product of this app uses the Parse api to access
		the Parse database where I stored their book collection. A Paypal api was also implemented so people have more options to pay when buying
		a book from here.
