p.title {
  text-align: center;
  font-size: 30px;
}

img.icon {
  height: 300px;
  width: 300px;
  position: absolute;
  margin-top: -40px;
  margin-left: 50px;
}

p.description {
  margin-left: 400px;
  margin-right: 50px;
}

footer {
	position: relative;
	display: block;
	text-align: center;
	width: 600px;
	margin: auto;
	padding: 10px;
	margin-top: 600px;
	bottom: 0px;
}
