p.title {
  text-align: center;
  font-size: 40px;
}

img.icon {
  height: 300px;
  width: 300px;
  position: absolute;
  margin-top: -100px;
  margin-left: 20px;
}

p.description {
  margin-left: 380px;
  margin-right: 50px;
  margin-top: -20px;
  font-size: 20px;
  color: #575757;
}

hr.seperator {
  width: 90%;
  margin-top: 180px;
}

.content {
  margin-top: 20px;
}

.firstrow {
  position: static;
  margin-right: 40px;
  margin-left: 40px;
}

img.mainwebview {
  height: 15%;
  width: 15%;
  position: static;
  box-shadow: 0 4px 20px 3px rgba(0,0,0,0.2);
  transition: 0.3s;
}

p.mainwebview {
  margin-left: 16%;
  margin-right: 55%;
  position: static;
  margin-top: -25%;
  font-size: 20px;
}

img.mainmenu {
  height: 15%;
  width: 15%;
  position: static;
  margin-top: -90px;
  margin-left: 85%;
  margin-right: 20px;
  margin-bottom: 20px;
  box-shadow: 0 4px 20px 3px rgba(0,0,0,0.2);
  transition: 0.3s;
}

p.mainmenu {
  margin-right: 16%;
  margin-left: 55%;
  position: static;
  font-size: 20px;
  margin-top: -7%;
}

.secondrow {
  position: static;
  margin-right: 40px;
  margin-left: 40px;
  margin-top: 40px;
}

img.mainmenu2 {
  height: 15%;
  width: 15%;
  box-shadow: 0 4px 20px 3px rgba(0,0,0,0.2);
  transition: 0.3s;
}

p.mainmenu2 {
  margin-left: 16%;
  margin-right: 55%;
  position: static;
  margin-top: -25%;
  font-size: 20px;
}

img.hsview {
  height: 15%;
  width: 15%;
  margin-left: 85%;
  margin-right: 20px;
  margin-top: -90px;
  box-shadow: 0 4px 20px 3px rgba(0,0,0,0.2);
  transition: 0.3s;
}

p.hsview {
  margin-right: 16%;
  margin-left: 55%;
  position: static;
  font-size: 20px;
  margin-top: -7%;
}

.thirdrow {
  position: static;
  margin-right: 40px;
  margin-left: 40px;
  margin-top: 80px;
}

img.eleview {
  height: 15%;
  width: 15%;
  box-shadow: 0 4px 20px 3px rgba(0,0,0,0.2);
  transition: 0.3s;
}

p.eleview {
  margin-left: 16%;
  margin-right: 55%;
  position: static;
  margin-top: -25%;
  font-size: 20px;
}

img.prefs {
  height: 15%;
  width: 15%;
  margin-left: 85%;
  margin-right: 20px;
  margin-top: -90px;
  box-shadow: 0 4px 20px 3px rgba(0,0,0,0.2);
  transition: 0.3s;
}

p.prefs {
  margin-right: 16%;
  margin-left: 55%;
  position: static;
  font-size: 20px;
  margin-top: -7%;
}

footer {
	position: relative;
	display: block;
	text-align: center;
	width: 600px;
	margin: auto;
	padding: 10px;
	margin-top: 60px;
	bottom: 0px;
}
