body{
  margin: 0;
}

p.name {
  color: #212121;
  text-align: center;
  margin-top: -5px;
  font-size: 50px;
}

p.title {
  color: #212121;
  margin-top: -50px;
  text-align: center;
  font-size: 30px;
}

.youtubelogo {
	margin-top: -5px;
	width: 75px;
	height: 50px;
}

.githublogo {
	margin-top: -5px;
	width: 50px;
	height: 50px;
}

.linkedinlogo {
	margin-top: -5px;
	width: 50px;
	height: 50px;
}

ul.social {
	position: relative;
	display: inline-block;
	list-style-type: none;
	text-align: center;
  left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
  padding: 0;
  overflow: hidden;
}

ul.social li {
	float: left;
	text-align: center;
}

ul.social li a {
	display: inline-block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: 0.3s;
  font-size: 17px;
}

ul.social li.icon {
	display: none;
}

.content {
  margin-top: -30px;
}

.leftcontent {
  width: 46%;
  padding-left: 10px;
  margin-left: 2%;
  float: left;
  position: relative;
}


.contact {
  margin-top: 20px;
  box-shadow: 0 4px 20px 3px rgba(0,0,0,0.2);
  transition: 0.3s;
  text-align: center;
}

.contact p.email {
  margin-top: -20px;
}

.education {
  margin-top: 70px;
  box-shadow: 0 4px 20px 3px rgba(0,0,0,0.2);
  transition: 0.3s;
}

.education p.title {
  text-align: center;
  font-size: 30px;
  color: #212121;
}

.education table {
  margin-top: -25px;
  width: 95%;
  table-layout: fixed;
  padding: 0;
  border-spacing: 0;
  border-collapse: collapse;
  margin: 0 auto;
}

.education table, tr, td {
  border: 2px;
}

.education tr {
  line-height: 0;
}

.education p {
  color: #575757;
}

p.schoolName {
  font-size: 20px;
  font-weight: bold;
  color: #212121;
}

.education table.highschool {
  margin-top: 20px;
}

.rightcontent {
  width: 46%;
  padding-right: 10px;
  margin-right: 2%;
  float: right;
  position: relative;
}

.computerskills {
  margin-top: 20px;
  box-shadow: 0 4px 20px 3px rgba(0,0,0,0.2);
  transition: 0.3s;
}

.computerskills table{
  text-align: center;
  width: 95%;
  table-layout: fixed;
  padding: 0;
  border-spacing: 0;
  border-collapse: collapse;
  margin: 0 auto;
}

.computerskills table, tr, td {
  border: 2px;
}

.computerskills tr {
  line-height: 0;
}

.computerskills p {
  color: #575757;
}

.computerskills p.title {
  text-align: center;
  font-size: 30px;
  color: #212121;
}

.computerskills p.subtitle {
  text-align: left;
  font-size: 20px;
  font-weight: bold;
  color: #212121;
}

.workexperience {
  margin-top: 70px;
  box-shadow: 0 4px 20px 3px rgba(0,0,0,0.2);
  transition: 0.3s;
}

.workexperience table {
  width: 95%;
  table-layout: fixed;
  padding: 0;
  border-spacing: 0;
  border-collapse: collapse;
  margin: 0 auto;
}

.workexperience table, tr, td {
  border: 2px;
}

.workexperience tr {
  line-height: 0;
}

.workexperience p {
  color: #575757;
}

.workexperience td.title p {
  font-size: 20px;
  font-weight: bold;
  color: #212121;
}

.workexperience p.title {
  text-align: center;
  font-size: 30px;
  color: #212121;
}

footer {
	position: relative;
	display: block;
	text-align: center;
	width: 600px;
	margin: auto;
	padding: 10px;
	margin-top: 880px;
	bottom: 0px;
}
