p.title {
  text-align: center;
  font-size: 40px;
  margin-top: -5px;
}

img.icon {
  height: 300px;
  width: 300px;
  position: absolute;
  margin-top: -70px;
  margin-left: 40px;
}

p.description {
  margin-left: 380px;
  margin-right: 50px;
  margin-top: -20px;
  font-size: 20px;
}

hr.seperator {
  width: 90%;
}

img.mainmenu {
  width: 300px;
  height: 500px;
}

footer {
	position: relative;
	display: block;
	text-align: center;
	width: 600px;
	margin: auto;
	padding: 10px;
	margin-top: 600px;
	bottom: 0px;
}
