doctype html

html
	head
		title= title
		block css
			link(rel='stylesheet', type='text/css', href='/css/mitteredersMain.css')
			link(rel='stylesheet', type='text/css', href='/css/mitteredersMain.css.map')
				
	body
		//- Navigation Bar
		a(href="/")
			img(src="/images/icons/fixedlogo.png", class="logoimage")

		ul.topnav
			li
				ul
					li
						a(href="/mah") Guide
					li
						a(href="/mah") FAQ
			li
				ul
					li
						a(href="/mah") Our Story
					li
						a(href="/mah") Home
					

		block content	
			
	footer
		block footer
			script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js")
			script(src="/js/bootstrap/bootstrap.min.js")
			script(src="/js/material/material.min.js")
			
		hr
		address= "Copyright 2019 All Rights Reserved www.mittereder.com"
