ul {

  &.social {
    position: relative;
  	display: inline-block;
  	list-style-type: none;
  	text-align: center;
    left: 50%;
  	margin-right: -50%;
  	transform: translate(-50%, -50%);
    padding: 0;
    overflow: hidden;
  	margin-bottom: -50px;

    & li {
      float: left;
    	text-align: center;

      & a{
        display: inline-block;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        transition: 0.3s;
        font-size: 17px;
      }

      &.icon {
          display: none;
      }
    }
  }
}
