$background-color:        #ffffff;
$primary-color:           #1976d2;
$secondary-color:         #555555;
$third-color:             #f7941d;

$primary-text-color:      #ffffff;
$secondary-text-color:    #000000;
