//addins
@import 'addins/bootstrap';

//base components
@import 'base/colors';
@import 'base/position';

//page components
@import 'components/images';
@import 'components/container';
@import 'components/lists';

//page layout
@import 'layout/buttons';
@import 'layout/nav';
@import 'layout/footer';

//mixins
@import 'mixins/card';

// custom page layouts
@import 'pages/index';
@import 'pages/project-layout';
@import 'pages/project';
@import 'pages/resume';
